{% extends 'base_hotel.html' %}
{% load static %}

{% block content %}
    <section class="section is-medium">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <figure class="image ">
                        <img src="{% static 'uploads/reception.JPG' %}" alt="">
                    </figure>
                </div>
                <div class="column ml-6">
                    <h1 class="title">Идея и женщина</h1>
                    <p class="subtitle has-text-danger is-4 mt-3 "> We want your stay at our lush hotel to be truly
                        unforgettable.That is
                        why we give special attention to <br> all
                        of
                        your needs so that we can ensure an experience quite uniquw. Luxury hotels offers the perfect
                        <br>
                        setting with
                        stunning views for leisure and our modern luxury resort facilities will help you enjoy the best
                        of
                        all. </p>
                </div>
            </div>
            <br><br><br><br>
            <div class="columns pt-6 is-vcentered">
                <div class="column ml-4">
                    <h1 class="title">Магия в деталях</h1>
                    <p class="subtitle has-text-danger is-4  mt-3 ">We want your stay at our lush hotel to be truly
                        unforgettable.That is why we give special attention to <br> all
                        of
                        your needs so that we can ensure an experience quite uniquw. Luxury hotels offers the perfect
                        <br>
                        setting with
                        stunning views for leisure and our modern luxury resort facilities will help you enjoy the best
                        of
                        all.</p>
                </div>
                <div class="column">
                    <figure class="image ">
                        <img src="{% static 'uploads/stolovaya.JPG' %}" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <section class="section is-medium">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <figure class="image ">
                        <img src="{% static 'uploads/datetime.JPG' %}" alt="">
                    </figure>
                </div>
                <div class="column ml-6">
                    <h1 class="title">Идея и женщина</h1>
                    <p class="subtitle has-text-danger is-4 mt-3 "> We want your stay at our lush hotel to be truly
                        unforgettable.That is why we give special attention to <br> all
                        of
                        your needs so that we can ensure an experience quite uniquw. Luxury hotels offers the perfect
                        <br>
                        setting with
                        stunning views for leisure and our modern luxury resort facilities will help you enjoy the best
                        of
                        all. </p>
                </div>
            </div>
            <br><br><br><br>
            <div class="columns pt-6 is-vcentered">
                <div class="column ml-4">
                    <h1 class="title">Магия в деталях</h1>
                    <p class="subtitle has-text-danger is-4 mt-3 ">
                        We want your stay at our lush hotel to be truly
                        unforgettable.That is why we give special attention to <br> all
                        of
                        your needs so that we can ensure an experience quite uniquw. Luxury hotels offers the perfect
                        <br>
                        setting with
                        stunning views for leisure and our modern luxury resort facilities will help you enjoy the best
                        of
                        all.
                    </p>
                </div>
                <div class="column">
                    <figure class="image ">
                        <img src="{% static 'uploads/denrojcdenie.JPG' %}" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <section class="section is-medium">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <figure class="image ">
                        <img src="{% static 'uploads/hall.JPG' %}" alt="">
                    </figure>
                </div>
                <div class="column ml-6">
                    <h1 class="title">Идея и женщина</h1>
                    <p class="subtitle has-text-danger is-4 mt-3 ">
                        We want your stay at our lush hotel to be truly
                        unforgettable.That is why we give special attention to <br> all
                        of
                        your needs so that we can ensure an experience quite uniquw. Luxury hotels offers the perfect
                        <br>
                        setting with
                        stunning views for leisure and our modern luxury resort facilities will help you enjoy the best
                        of
                        all.
                    </p>
                </div>
            </div>
            <br><br><br><br>
            <div class="columns pt-6 is-vcentered">
                <div class="column ml-4">
                    <h1 class="title">Магия в деталях</h1>
                    <p class="subtitle has-text-danger is-4 mt-3 ">
                        We want your stay at our lush hotel to be truly
                        unforgettable.That is why we give special attention to <br> all
                        of
                        your needs so that we can ensure an experience quite uniquw. Luxury hotels offers the perfect
                        <br>
                        setting with
                        stunning views for leisure and our modern luxury resort facilities will help you enjoy the best
                        of
                        all.
                    </p>
                </div>
                <div class="column">
                    <figure class="image ">
                        <img src="{% static 'uploads/garden.JPG' %}" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </section>
{% endblock %}