{% extends 'base_hotel.html' %}
{% load static %}

{% block content %}
    <section class="section is-medium" style="font-family: 'Josefin Sans', sans-serif;">
        <div class="container">
            <h1 class="title has-text-danger has-text-centered">About Us</h1>

            <p class="subtitle has-text-black has-text-centered is-4 mt-3 "> Hotel Turon Plaza has a garden, fitness
                centre, bar
                and night club in Bukhara. <br>Among the facilities of this property are restaurant, 24-hour front <br>
                desk and along with free WiFi. There is a spa centre,<br> evening entertainment and room service.
            </p>
        </div>
        <br>
        <div class="container">
            <div class="columns is-multiline">
                <div class="column mx-6 my-6 is-5">
                    <figure class="image">
                        <img src="{% static 'uploads/reception.JPG' %}" alt="">
                    </figure>
                    <h1 class="title has-text-centered has-text-white has-background-danger">Reception</h1>
                </div>
                <div class="column mx-6 my-6 is-5">
                    <figure class="image ">
                        <img src="{% static 'uploads/stolovaya.JPG' %}" alt="">
                    </figure>
                    <h1 class="title has-text-white has-text-centered has-background-danger">Beautiful canteen</h1>
                </div>
                <div class="column mx-6 my-6 is-5">
                    <figure class="image ">
                        <img src="{% static 'uploads/datetime.JPG' %}" alt="">
                    </figure>
                    <h1 class="title has-text-white has-text-centered has-background-danger">Date-time in different countries</h1>
                </div>
                <div class="column mx-6 my-6 is-5">
                    <figure class="image ">
                        <img src="{% static 'uploads/IMG_5288.JPG' %}" alt="">
                    </figure>
                    <h1 class="title has-background-danger has-text-centered has-text-white">Conference hall</h1>
                </div>
                <div class="column mx-6 my-6 is-5">
                    <figure class="image ">
                        <img src="{% static 'uploads/hall.JPG' %}" alt="">
                    </figure>
                    <h1 class="title has-background-danger has-text-centered has-text-white">WiFi Zone</h1>
                </div>
                <div class="column mx-6 my-6 is-5">
                    <figure class="image ">
                        <img src="{% static 'uploads/garden.JPG' %}" alt="">
                    </figure>
                    <h1 class="title has-background-danger has-text-centered has-text-white">Turon Garden</h1>
                </div>
                <div class="column mx-6 my-6 is-5">
                    <figure class="image">
                        <img src="{% static 'uploads/toilet.JPG' %}" alt="">
                    </figure>
                    <h1 class="title has-background-danger has-text-centered has-text-white">Bedroom</h1>
                </div>
                <div class="column mx-6 my-6 is-5">
                    <figure class="image ">
                        <img src="{% static 'uploads/zalojidaniya.JPG' %}" alt="">
                    </figure>
                    <h1 class="title has-background-danger has-text-centered has-text-white">Waiting hall</h1>
                </div>
            </div>
        </div>
    </section>
















    {#    <section class="section is-medium" style="font-family: 'Josefin Sans', sans-serif;">#}
    {#        <div class="container">#}
    {#            <div class="columns is-vcentered">#}
    {#                <div class="column">#}
    {#                </div>#}
    {#                <div class="column ml-6">#}
    {#                    <h1 class="title">Идея и женщина</h1>#}
    {#                    <p class="subtitle has-text-danger is-4 mt-3 ">#}
    {#                        We want your stay at our lush hotel to be truly#}
    {#                        unforgettable.That is why we give special attention to <br> all#}
    {#                        of#}
    {#                        your needs so that we can ensure an experience quite uniquw. Luxury hotels offers the perfect#}
    {#                        <br>#}
    {#                        setting with#}
    {#                        stunning views for leisure and our modern luxury resort facilities will help you enjoy the best#}
    {#                        of#}
    {#                        all.#}
    {#                    </p>#}
    {#                </div>#}
    {#            </div>#}
    {#            <br><br><br><br>#}
    {#            <div class="columns is-multiline pt-6 is-vcentered">#}
    {#                <div class="column ml-4">#}
    {#                    <h1 class="title">Магия в деталях</h1>#}
    {#                    <p class="subtitle has-text-danger is-4 mt-3 ">#}
    {#                        We want your stay at our lush hotel to be truly#}
    {#                        unforgettable.That is why we give special attention to <br> all#}
    {#                        of#}
    {#                        your needs so that we can ensure an experience quite uniquw. Luxury hotels offers the perfect#}
    {#                        <br>#}
    {#                        setting with#}
    {#                        stunning views for leisure and our modern luxury resort facilities will help you enjoy the best#}
    {#                        of#}
    {#                        all.#}
    {#                    </p>#}
    {#                </div>#}
    {#                <div class="column">#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </section>#}
{% endblock %}