{% extends 'base_hotel.html' %}
{% load static %}

{% block content %}
    <div class="banner" style="font-family: 'Josefin Sans', sans-serif;">
        <img src="{% static 'uploads/IMG_5290.JPG' %}" alt="">
        <div class="content">
            <h1 class="title is-3 has-text-danger has-text-left">
                WELCOME TO <br>
                <span class="title has-text-white text_s">
            Hotel Turon Plaza <br>
        </span>
                <span class="title has-text-white is-5">
                Book your stay and enjoy Luxury <br>
            redefined at the most affordable rates.</span>
            </h1>
            <a href="" class="button btn_booking has-background-danger has-text-white is-size-5 has-text-left"
               style="border: none;">Booking</a>
        </div>
    </div>

    <section class="section" style="font-family: 'Josefin Sans', sans-serif;">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <img src="{% static 'uploads/hours.JPG' %}" alt="">
                </div>
                <div class="column mx-5 pl-3">
                    <img src="{% static 'uploads/IMG_5286.JPG' %}" class="babay_img" alt="">
                </div>
                <div class="column ">
                    <h1 class="title is-3 pb-4 has-text-weight-bold">Welcome To <br>
                        <span class="title has-text-danger has-text-weight-bold">Hotel Turon Plaza</span>
                    </h1>
                    <p class="subtitle">You’ll notice it the instant you walk in – the attention to detail and the
                        effort we made to meet your needs and requirements.</p>
                    <a href="" class="button has-background-danger is-large has-text-white">Book now</a>
                </div>
            </div>
        </div>
    </section>
    <br>
    <div class="container pt-6" style="font-family: 'Josefin Sans', sans-serif;">
        <h1 class="title has-text-centered is-3">Choose The Best Place For Your Vacation</h1>
        <p class="subtitle has-text-centered is-6">We have prepared several hotels, villas and apartments <br> to enjoy
            your
            vacation with your
            family.
        </p>
    </div>


    <section class="section" style="font-family: 'Josefin Sans', sans-serif;">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="card">
                        <figure class="image">
                            <img src="{% static 'uploads/weekend-rest-hotel-2021-11-15-17-51-54-utc%202.svg' %}" alt="">
                        </figure>
                        <h1 class="title">Hotel Turon Plaza</h1>
                        <p class="subtitle has-text-danger">
                            Booking now -->
                            <a href="tel:+998905113305" class="has-text-black">+998905113305</a>
                        </p>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <figure class="image">
                            <img src="{% static 'uploads/weekend-rest-hotel-2021-11-15-17-51-54-utc%202.svg' %}" alt="">
                        </figure>
                        <h1 class="title">Hotel Turon Plaza</h1>
                        <p class="subtitle has-text-danger">Booking now -->
                            <a href="tel:+998905113305" class="has-text-black">+998905113305</a>
                        </p>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <figure class="image">
                            <img src="{% static 'uploads/weekend-rest-hotel-2021-11-15-17-51-54-utc%202.svg' %}" alt="">
                        </figure>
                        <h1 class="title">Hotel Turon Plaza</h1>
                        <p class="subtitle has-text-danger">Booking now -->
                            <a href="tel:+998905113305" class="has-text-black">+998905113305</a>
                        </p>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <figure class="image">
                            <img src="{% static 'uploads/weekend-rest-hotel-2021-11-15-17-51-54-utc%202.svg' %}" alt="">
                        </figure>
                        <h1 class="title">Hotel Turon Plaza</h1>
                        <p class="subtitle has-text-danger">Booking now -->
                            <a href="tel:+998905113305" class="has-text-black">+998905113305</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}