{% extends 'base_plaza.html' %}
{% load static %}

{% block plaza %}
    <div class="banner-1 is-justify-content-center" style="font-family: 'Josefin Sans', sans-serif;">
        <img src="{% static 'uploads/IMG_5297.JPG' %}" alt="">
        <div class="conentt has-text-centered">
            <h1 class="title has-text-white" style="font-size: 100px">
                Facilities
            </h1>
            <br>
        </div>
    </div>


    <section class="section is-medium">
    <div class="container">
        <div class="columns">
            <div class="column mx-6 my-6 is-5">
                    <figure class="image ">
                        <img src="{% static 'uploads/hall.JPG' %}" alt="">
                    </figure>
                    <h1 class="title has-text-centered has-text-white">WiFi Zone</h1>
                </div>
            <div class="column mx-6 my-6 is-5">


            </div>
            <div class="column mx-6 my-6 is-5">

            </div>
            <div class="column mx-6 my-6 is-5">

            </div>
            <div class="column mx-6 my-6 is-5">

            </div>
            <div class="column mx-6 my-6 is-5">

            </div>
            <div class="column mx-6 my-6 is-5">

            </div>
            <div class="column mx-6 my-6 is-5">

            </div>
        </div>
    </div>
    </section>
{% endblock %}