{% extends 'base_plaza.html' %}
{% load static %}

{% block plaza %}
    <div class="banner-1 is-justify-content-center" style="font-family: 'Josefin Sans', sans-serif;">
        <img src="{% static 'uploads/IMG_5261.JPG' %}" alt="">
        <div class="conentt has-text-centered">
            <h1 class="title has-text-white" style="font-size: 70px">
                Our Rooms and Rate
            </h1>
            <br>
        </div>
    </div>

    <section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <img src="" alt="">
                <h1 class="title"></h1>
                <p class="subtitle"></p>
                <p class="subtitle"></p>
                <p class="subtitle"></p>
                <p class="subtile"></p>
            </div>
        </div>
    </div>
    </section>
{% endblock %}